<div *ngIf="!movieDeatil">
    <label for="exampleInputEmail1">Search Movies</label>
    <input type="text" [(ngModel)]="query" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name Of Movie">
    <hr>
       
    <h2>Popular Movie This Month</h2>
    <div class="row">
        <div class="col-md-3" *ngFor="let movie of movies | search:'name':query">
            <a role="button" (click)="movieDetails(movie)">
            <img class="img-fluid" src="https://source.unsplash.com/300x400/?{{movie.name}}">
            <h3>{{movie.name}}</h3>
            <h6>{{movie.duration}} min</h6>
            <h6>User Rating: {{movie.userRating}}</h6>
            </a>
        </div>

    </div>
</div>
<div *ngIf="movieDeatil">
        <button type="button"   (click)="movieDetails()" class="btn btn-primary">Back</button>
        <h1>{{selectedMovie.name}}</h1>
        <small>(PG: {{selectedMovie.mpaaRating.label  }}  {{selectedMovie.mpaaRating.type}})</small>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="https://source.unsplash.com/300x400/?movie">
            </div>
            <div class="col-md-8">
                <h2>Details</h2>
               
                <br>
                <h6>Genre: {{selectedMovie.genre}}</h6>
                
                <br>
                <h6>Language: {{selectedMovie.language}}</h6>
               
                <br>
                <h6>Duration: {{selectedMovie.duration}} Minutes</h6>
               
                <br>
                <h6>User Rating: {{selectedMovie.userRating}}</h6>
             
                <br>
                <h2>
                    Synopsis
                </h2>
                <h6>{{selectedMovie.description}}</h6>
        
              </div>  
        
        </div>
        
</div>