/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}
body { 
 background-color: white;
 background-position: center;
 background-size: cover;
}
